<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <title>Highcharts Example</title>

    <style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }
    </style>
    <script th:src="@{/highcharts/highcharts.js}"></script>
    <script th:src="@{/highcharts/modules/series-label.js}"></script>
    <script th:src="@{/highcharts/modules/exporting.js}"></script>
    <script th:src="@{/jquery/jquery-1.8.3.js}" type="text/javascript"></script>
    <script th:src="@{/highcharts/canvasjs/canvg.js}" type="text/javascript"></script>
    <script th:src="@{/highcharts/canvasjs/rgbcolor.js}" type="text/javascript"></script>
</head>
<body>


<input type="button" value="生成图片的base64码并把得到的图片写入的word文件里" onclick="exportBase64();"/>

<textarea id="pic_base64" cols="10" rows="10" style="width:70%"></textarea>


<div id="container"></div>
<hr/>
<h1>canvas转换产生的图片</h1>
<canvas id='canvasId'></canvas>
<hr/>
<h1>base64位code产生的图片</h1>
<img src="" id="img"/>
<script type="text/javascript">

    Highcharts.chart('container', {

        title: {
            text: 'Solar Employment Growth by Sector, 2010-2016'
        },

        subtitle: {
            text: 'Source: thesolarfoundation.com'
        },

        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },

        series: [{
            name: 'Installation',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }, {
            name: 'Manufacturing',
            data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
        }, {
            name: 'Sales  Distribution',
            data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
        }, {
            name: 'Project Development',
            data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
        }, {
            name: 'Other',
            data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });


    function exportBase64() {



        /*
        *    使用highchart自带exporting.js中getSVG()方法获取（需引入exporting.js）；
        *    这种方式获取的数据较完整，或根据画布大小等因素自动适应，图表不会变形，渲染较好
        **/
        // var chartData = $("#container").highcharts().getSVG();
        var chartData = Highcharts.charts[0].getSVG();

        //2、用canvg将svg数据转换到canvas中
        /*
        *  @Param canvasId canvas标签的id
        *  @Param chartData 图表svg数据
        *  需要在提前页面加载canvas标签（如：<canvas id='canvasId' style='……'></canvas>)
        **/
        var opts = {};
        canvg("canvasId", chartData, opts);

        //3、使用canvas转换图片……
        /*
        * 这里获取的是base64位的图片数据，也可以直接在浏览器中使用
        * 将imgData转换正二进制编码，写入文件中成为图片(打算用java实现）
        ***/
        var canvas = document.getElementById("canvasId");//这里获取的是png格式图片
        var pic_info = canvas.toDataURL("image/png", 1.0);
        $("#pic_base64").text(pic_info);
        $("#img").attr("src", pic_info);

        $.post("convertToPng", {chartData: chartData}, function (data) {

        })


    }
</script>
</body>
</html>
